<!DOCTYPE html>
<html lang="en">

<head>

  <% include ./head.ejs %>
</head>

<body>

    <div id="wrapper">
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">

    <% include ./header.ejs %>
  	<% include ./navigator.ejs %>
  </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">My Own Dropbox</h1>
                  </div>
              </div>

                <!-- /.col-lg-8 -->
                <p>
                  <img src="/imgs">
                </p>
                <h3>개인 맞춤형 드롭박스, My Own Dropbox</h3>
                <p>기존의 드롭박스가 제공하는 기본적인 기능과 더불어, 사용자에게 개인 맞춤형 테마를 제공하는 개인 맞춤형 드롭박스입니다.</p>
                <p>'MyOwnDropbox' 서비스를 통해 개인만의 차별화된 드롭박스를 사용해보세요!	</p>
                <!-- /.col-lg-4 -->


            </div>
            <!-- /.row -->


        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
	<% include ./footer.ejs %>

</body>

</html>
