<!DOCTYPE html>
<html lang="en">

<head>


      <% include ./head.ejs %>

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
          <% include ./header.ejs %>
          <% include ./navigator.ejs %>
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Setting </h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
              <div class="col-lg-6">
                      <!-- /.panel-heading -->
                      <div class="panel-body">
                          <!-- Nav tabs -->
                          <ul class="nav nav-tabs">
                              <li class="active"><a href="#home" data-toggle="tab">일반</a>
                              </li>
                              <li><a href="#profile" data-toggle="tab">테마</a>
                              </li>
                              <li><a href="#messages" data-toggle="tab">알림</a>
                              </li>

                          </ul>

                          <!-- Tab panes -->
                          <div class="tab-content">
                              <div class="tab-pane fade in active" id="tap_general">\
                                <div class="panel panel-default">
                                  <div class="panel-heading">
                                      일반
                                  </div>
                                  <p>사진</p>
                                  <p>이름</p>
                                  <p>이메일</p>
                                </dir>
                                <div class="panel panel-default">
                                  <div class="panel-heading">
                                      계정 삭제
                                  </div>
                                  <p>Dropbox 삭제
                                      <a href="dropbox_delete" class="btn btn-info btn-circle"><i class="fa fa-check"></i></a>
                                    
                                  </p>
                                </dir>
                              </div>
                              <div class="tab-pane fade" id="tap_theme">
                                <p>테마1</p>
                                <p>테마2</p>
                              </div>
                              <div class="tab-pane fade" id="tap_notification">
                                <h4>계정 알림</h4>
                                <label>
                                    <input type="checkbox" value=""> 용량 알림
                                </label>
                                <label>
                                    <input type="checkbox" value=""> 공유 알림
                                </label>
                                <label>
                                    <input type="checkbox" value=""> 대량 삭제 알림
                                </label>
                              </div>

                          </div>
                      </div>
                      <!-- /.panel-body -->

              </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->


        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
  <% include ./footer.ejs %>
  <script>
      $(document).ready(function() {
          $('#dataTables-example').DataTable({
              responsive: true
          });
      });
      </script>

</body>

</html>
