<!DOCTYPE html>
<html>
<head>
  <title>File Uploader</title>
  <link href="css/upload.css" rel="stylesheet">
</head>
<body>
  <div class="dropzone" id="dropzone">
    <span>Drop the files here...</span>
  </div>
  <input type="file" id="addFile" multiple>
  <script src="js/upload.js"></script>

</body>
</html>
